{{ define "main" }}
<main>
    <article>
        <header class="mb-4">
            <span >
                <h1 class="py-2 text-2xl text-center dark:text-white">
                    {{ .Title }}
                </h1>
            </span>
        </header>
        {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose dark:prose-invert dark:text-white">
            {{- . -}}
        </div>
        {{ end }}
        {{ partial "posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">
        {{ partial "pagination" . }}
    </div>
</main>
{{ end }}